@font-face {
  font-family: "Yu Gothic" ;
  src: local("Yu Gothic Medium") ;
  font-weight: 100 ;
}

@font-face {
  font-family: "Yu Gothic" ;
  src: local("Yu Gothic Medium") ;
  font-weight: 200 ;
}

@font-face {
  font-family: "Yu Gothic" ;
  src: local("Yu Gothic Medium") ;
  font-weight: 300 ;
}

@font-face {
  font-family: "Yu Gothic" ;
  src: local("Yu Gothic Medium") ;
  font-weight: 400 ;
}

@font-face {
  font-family: "Yu Gothic" ;
  src: local("Yu Gothic Bold") ;
  font-weight: bold ;
}

@font-face {
  font-family: "Noto Sans CJK JP" ;
  src: src("Noto Sans CJK JP Medium") ;
  font-weight: 100 ;
}

@font-face {
  font-family: "Noto Sans CJK JP" ;
  src: src("Noto Sans CJK JP Medium") ;
  font-weight: 200 ;
}

@font-face {
  font-family: "Noto Sans CJK JP" ;
  src: src("Noto Sans CJK JP Medium") ;
  font-weight: 300 ;
}

@font-face {
  font-family: "Noto Sans CJK JP" ;
  src: src("Noto Sans CJK JP Medium") ;
  font-weight: 400 ;
}

@font-face {
  font-family: "Noto Sans CJK JP" ;
  src: src("Noto Sans CJK JP Bold") ;
  font-weight: bold ;
}

@font-face {
  font-family: "Apple Fallback" ;
  src: local("-apple-system"), local("BlinkMacSystemFont") ;
}

@font-face {
  font-family: "Windows Fallback" ;
  src: local("Meiryo");
}

@font-face {
  font-family: "Unix Fallback" ;
  src: local("TakaoPGothic"),local("VL PGothic") ;
}

html, body {
  font-family:
    "YakuHanJP", "Noto Sans CJK JP", "Source Hans Sans Japanese", "Yu Gothic", "YuGothic",
    "Noto Sans CJK", "Source Hans Sans", "Apple Fallback", "Windows Fallback", "Unix Fallback", sans-serif ;
  -moz-font-feature-settings: "lnum", "pnum" ,"plat" ;
  -webkit-font-feature-settings: "lnum", "pnum", "plat" ;
  font-feature-settings: "lnum", "pnum", "plat" ;
 	background-color: #F8F8F6 ;
 	color: #2E3436 ;
 	line-height: 1.727em ;
}
body > section {
  max-width: 40em ;
  margin: 0 auto ;
}
section > h1 {
	margin: 1em 0 ;
  font-size: 1.5em ;
}
section > h2 {
  font-size: 1.2em ;
}
section > ul {
  padding-left: 1.25em ;
}
#me > figure {
  text-align: center ; 
  margin: 0 ;
}
#me > figure > figcaption > h1 {
  font-size: 2em ;
}
#me > figure > figcaption > p {
  margin: 0.25em 0 ;
  font-size: 0.91em ;
}
@media (max-width: 765px) {
  body {
    font-size: 91% ;
  }
  section > h1 {
    font-size: 1.5em ;
  }
  section > h2 {
    font-size: 1em ;
  }
}

